@import url("https://fonts.googleapis.com/css2?family=Patua+One&family=Raleway:ital,wght@0,500;0,600;0,800;1,400&display=swap");

h1 {
  font-size: 80px;
  color: #f2a7be;
  font-family: "Patua One", cursive;
}

.Descripcion {
  color: #9ae1e2;
  font-family: "Raleway", sans-serif;
  font-size: 30px;
}

.icon {
  height: auto;
  width: auto;
}

header {
  background-color: #ec6091;
  padding: 50px 0;
}
